<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>
    <div style="width:80%; margin: 0 auto; padding-top: 10px;">
        <h1>LIST</h1>
        <div class="flex one three-800 four-1000">

            <div>
                <header>
                    <%= cdata.model %>
                </header>
                <p>
                    <%= cdata.make %>
                </p>
                <p>
                    <%= cdata.model_year %>
                </p>
            </div>
        </div>
    </div>
</body>
</html>