<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
</head>
<body>

    
<div style="width:80%; margin: 0 auto; padding-top: 10px;">
<h1>LIST</h1>
 
<div class="flex one three-800 four-1000">

        <% cars.forEach( (row)=>{   %>
        
            <div>
                <header><%= row.model %></header>
                <a class="button" href="/car/<%= row.vin %>">details</a>
            </div>
        
        
        <% }); %>

   
</div>

</body>
</html>